<div class="text-center">
  <h2>{{title}}</h2>
  <p>Written by {{user.name}} on {{format_date date_created}}</p>
  <p>{{body}}</p>
  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>
